Repository tailscale/tailscale, pull requests merged in 2024-10, with the labels that each got.

#13613 net/captivedetection: set Timeout on net.Dialer
  net/captivedetection/captivedetection.go
Labels: connectivity, OS-ios

#13564 net/dns: tweak DoH timeout, limit MaxConnsPerHost, require TLS 1.3
  net/dns/resolver/forwarder.go
Labels: dns

#13657 logpolicy: force TLS 1.3 handshake
  logpolicy/logpolicy.go
Labels: battery

#13874 health: remove SysDNSOS, add two Warnables for read+set system DNS config
  health/health.go
  net/dns/manager.go
  net/dns/resolved.go
Labels: dns, health

#13467 tstest/natlab: add latency & loss simulation
  tstest/natlab/vnet/conf.go
  tstest/natlab/vnet/conf_test.go
  tstest/natlab/vnet/vnet.go
Labels: natlab

#13985 net/sockstats: prevent crash in setNetMon
  net/sockstats/sockstats_tsgo.go
Labels: OS-android, T8 Crash
